<aside class="page type-page status-publish ast-article-single tec-docs">
	<h3><i class="fas fa-file-alt"></i>Document(s)</h3>
	<ul>
		{% for item in post.meta('files') %}
			<li><img src="{{ item.document.icon }}" alt="{{ item.document.title }}"><a href="{{ item.document.url }}"></img>{{ item.document.title }}</a> <span class="muted">({{ item.document.subtype }})</span></li>
		{% endfor %}
	</ul>
</aside>