<div class="event-details-single-outer">
	<h2>When and Where</h2>
	<div class="event-details-single-inner">
		<ul>





<li><i class="fas fa-map-marker-alt tec-icons"></i> <span>{{ post.where }}</span></li>

{% if post.third_party_event %}
	<li>
		<i class="fas fa-exclamation-circle tec-icons"></i> 
		<span>This event is not organised by the TEC programme.
{% endif %}			
			{% if extras %}Please direct any enquiries to <a href="mailto:{{ extras }}">{{ extras }}</a>{% endif %}
		{% if post.third_party_event %}
		</span>
	</li>
{% endif %}	




	</ul>

{% if post.booking_page %}
   <a class="button booknow" href="{{ post.booking_page }}">Book now</a>
{% elseif not post.booking_page %}
   <span class="button bookclosed"><i class="fas fa-lock"></i> Booking closed {{ post.booking_page }}</span>
{% endif %}

	</div>
</div>

<p>{{ dump(post) }}</p>